.login-form-container {
    /*border-radius: 5px;*/
    /*background-color: #f2f2f2;*/
    padding: 20px;
    width: 500px;
}

.form-label {
    color: black;
    /*font-weight: bold;*/
    margin-right: 15px;
    font-size: 15px;
}

.form-textField {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px;
    margin: 8px 0;
    margin-right: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-button:hover {
    background-color: #45a049;
}
/*=============================================*/
.user-form-container {
    padding: 20px;
    width: 700px;
}

.user-textField {
    margin-left: 20px;
    padding: 8px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 220px;
}

.user-row {
    justify-content: space-between;
    display: flex;
    margin-bottom: 20px;
}

.user-value-container {
    display: flex;
}

.user-label {
    width: 80px;
    align-self: center;
}

.actionBtnForm {
    display: inline;
}

/* ================= Nové styly ================= */
.user-man-row-grid {
    display: grid;
    grid-template-columns: 2.5fr 2.5fr 2.5fr 2fr 2fr 1.5fr 1.5fr 2.2fr 1.5fr ;
    grid-gap: 0px 20px;
    max-width: 100%;
    padding: 10px;
    margin-bottom: 0;
}

.userInputField {
    min-width: 0;
    height: 2.5em;
}

#user-man-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.userInfoInputField {
    min-width: 0;
    height: 2.5em;
    width: 50%;
    margin-left: 5px;
}

