@media screen and (max-width: 768px) {
    #pageContent {
        width: auto;
        padding: 0px 20px 20px 20px;
    }

    /* account.css */
    .userInfoInputField {
        height: auto;
        width: 100%;
    }





    #pageHeaderTitle { /*h1*/
        font-size: 1.6em;
    }

    #menu {
        /*
        display: flex;
        width: 100%;
        */
    }

    #menu a {
        font-size: 0.9em;
    }

    footer {
        flex-direction: column;
    }


}