body {
    margin: 0;
    font-family: sans-serif;
}

#menu {
    height: 100%;
    width: 200px;
    /*position: fixed;*/ /*Při scrollování se pozice menu nebude měnit*/
    /*z-index: 1;*/ /*Úroveň překrávání*/
    background-color: #111;
    overflow-x: hidden; /*Zakáže horizontální scroll*/
    /*padding-top: 20px;*/
}

#menu a {
    color: white;
    display: block;
    padding: 8px 6px 6px 8px;
    text-decoration: none; /*Bez podtržení*/
    font-size: 20px;
    border: 2px solid white;
    margin: 5px;
    transition: 0.3s;
}

#sideMenu a:hover {
    color: white;
    background-color: #e68a00;
    transition: 0.3s;
}

#pageHeader {
    width: 100%;
    height: auto;
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

#pageCenter {
    display: flex;
}

#pageHeaderTitle { /*h1*/
    color: white;
    font-size: 40px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 40px;
}

footer {
    background-color: #333333;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.footerHeader {
    font-size: 20px;
    font-weight: bold;
}

footer a {
    font-size: 14px;
    color: white;
    /*text-decoration: none;*/
}

/*------------Gallery Content Styles------------*/
#pageContent {
    margin: 20px 20px 20px 20px;
}

.gallerySection {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: white;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.gallerySectionHeader {
    background-color: #e0e0d1;
    width: 100%;
}

.gallerySectionTitle { /*h2*/
    font-size: 1.5em;
    /*margin-left: 0.5em;*/
    padding: 15px;
    margin: 0;
}

.galleryArticle {
    width: 400px;
    border: 1px solid lightslategray;
    margin: 8px;
    background-color: #e0e0d1;
}

.galleryArticle > img {
    width: 400px;
}

.galleryArticle > a > img {
    width: 400px;
}

.galleryImgTitle { /*h3*/
    font-size: 1.2em;
    margin-left: 0.5em;
}


